
/target
**/*.rs.bk
logs/*
!logs/.gitkeep
data/db/*
!data/db/.gitkeep
data/screenshots/*
!data/screenshots/.gitkeep
dist/*
!dist/.gitkeep
resources/ui/*
!resources/ui/index.html
!resources/ui/assets
resources/ui/assets/*
!resources/ui/assets/.gitkeep