.app {
    font-family: Lato,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-weight: 400;

    .nopadding .ui.segment {
        border: none;
        padding: 0;
    }
}
